.header{
    width: 100%;
    background-color: red;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul{
    padding: 40px 0px;
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav_link{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
}