.app{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  gap: 30px;
}

.list li{
  width: 270px;
  height: 270px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
h1{
  font-size: 14px;
}
.list img{
  width: 100%;
  height: 250px;
}